

<div class="card" style="background-image: url(http://images4.fanpop.com/image/photos/18100000/Bob-Holding-a-Burger-bobs-burgers-18113791-1680-1050.jpg); background-size: 100% 100%; padding-bottom: 50px;">

<div class="container">

  <div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-8">
    <div class="card" style="margin-bottom: 50px; margin-top: 50px; opacity: 0.95;">
      <div class="card-body">
          <form class="center">
              <p class="h4 text-center mb-4 red-text font-bold">Add More Burgers to the List!</p>

              <div class="md-form">
                  <input type="text" id="newBurger" name="newBurger" class="form-control">
              </div>

              <div class="text-center mt-4">
                  <button class="btn btn-outline red lighten-1" id="addBurger" type="submit">Add a Burger!<i class="fa fa-check-square-o" aria-hidden="true" style="margin-left: 10px;"></i></button>
              </div>
          </form>
      </div>
    </div>
  </div>
  </div>

  <div class="row">

    <div class="col-md-4"></div>


    <div class="col-md-4">

        <div class="card" style="opacity: 0.95;">
            <h3 class="card-header red lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Burger Specials!</h3>
            <div class="card-body">
                <ul class="list-group">
                  {{#each burgers}} {{#unless devoured }}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                          <h3 style="font-size: 16px;">{{this.id}}. {{burger_name}}</h3>
                    <button class="btn red lighten-1 eatButton" id="{{this.id}}">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </button
                    </li>
                    {{/unless}} {{/each}} 
                </ul>
            </div>
        </div>


    </div>

    <div class="col-md-4">


        <div class="card" style="opacity: 0.95;">
            <h3 class="card-header red lighten-1 white-text text-uppercase font-weight-bold text-center py-5">Burgers Eaten</h3>
            <div class="card-body">
                <ul class="list-group">
                  {{#each burgers}} {{#if devoured }}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                          <h3 class="eaten" style="font-size: 16px;">{{this.id}}. {{burger_name}}</h3>
                    <button class="btn alreadyEatenButton" id="{{this.id}}">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </button
                    </li>
                    {{/if}} {{/each}} 
                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-2"></div>


  </div>

</div>

</div>
